@import "../../assets/sass/defs";
@import "../../assets/sass/mixins";

.list {
  margin: 20px auto 0;
  width: 30%;

  &__ordered {
    list-style-type: none;
    counter-reset: ordered;

    &--item {
      font-size: $normal;
      line-height: 2;

      .username {
        padding-left: 20px;
        color: $gray;
      }

      &:before {
        counter-increment: ordered;
        content: counter(ordered) ". ";
        color: $gray;
      }
    }
  }
}
