@import "./assets/sass/defs";
@import "./assets/sass/mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Arial", sans-serif;
  font-size: 10px;
  font-weight: $regular;
}

.container {
  margin: 0 auto;
  width: 1280px;
  max-width: 100%;
}
